/* Estilos gerais */
/* Estilos gerais */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que a altura mínima seja 100% da altura da viewport */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Remove a rolagem horizontal */
  }
  
  .schedule-container {
    width: 100%;
    max-width: 560px; /* Garantir que a escala não ultrapasse o tamanho da tela */
    padding: 0; /* Remover qualquer padding extra que possa causar rolagem horizontal */
  }
  
  .schedule-row {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos dentro da linha se ajustem em várias linhas, se necessário */
    justify-content: center; /* Centraliza os elementos dentro da linha */
  }
  
  .schedule-header, .schedule-cell {
    flex: 1 0 100px; /* Garante que os elementos tenham largura mínima e se ajustem ao tamanho disponível */
    text-align: center; /* Centraliza o texto */
  }
  
  .schedule-cell::before {
    text-align: center; /* Centraliza o texto dos labels */
  }
  




body {



    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Evita rolagem geral */
  }
  
  .schedule-container {
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    height: 100%;
    overflow-y: auto; /* Permite rolagem vertical apenas no container */
  }
  
  h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 0.8rem;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    cursor: pointer;
  }
  
  .motoboy-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .motoboy-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    border: 2px solid green;
  }
  
  .motoboy-info img.red {
    border-color: red;
  }
  
  .motoboy-info span {
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  img{
    width: 25px;
    height: 25px;
  }
  /* Media queries para dispositivos menores */
  @media (max-width: 280px) {
    .schedule-container {
      padding: 5px;
      height: 100%;
    }
  
    h1 {
      font-size: 0.8rem;
      margin: 5px 0;
    }
  
    th, td {
      font-size: 0.7rem;
      padding: 3px;
    }
  
    .motoboy-info img {
      width: 25px;
      height: 25px;
    }
  
    .motoboy-info span {
      font-size: 0.7rem;
    }
  
    table, thead, tbody, th, td, tr {
      display: block;
    }
  
    thead {
      display: none;
    }
  
    tr {
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 5px;
    }
  
    td {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3px 0;
      border: none;
    }
  
    td:before {
      content: attr(data-label);
      flex: 1;
      font-weight: bold;
      text-align: left;
      margin-right: 5px;
    }
  
    td:last-child {
      border-bottom: none;
    }

  }
  